aiohttp==3.8.1
aiosignal==1.2.0
apptools==5.1.0
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.0.12
configobj==5.0.6
cycler==0.11.0
envisage==6.0.1
fonttools==4.31.2
frozenlist==1.3.0
idna==3.3
importlib-resources==5.6.0
kiwisolver==1.4.2
matplotlib==3.5.1
mayavi==4.7.4
multidict==6.0.2
numpy==1.22.3
packaging==21.3
ParticleGrid==0.0.1
Pillow==9.1.0
pyface==7.4.1
Pygments==2.11.2
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
python-dateutil==2.8.2
six==1.16.0
traits==6.3.2
traitsui==7.3.1
vtk==9.1.0
wslink==1.5.1
yarl==1.7.2
zipp==3.8.0
